{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block description %}Réinitialisation du mot de passe{% endblock %}

{% block main %}
    <main>
        <h1 class="text-center my-3 display-5">Réinitialisation du mot de passe</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Reset password</button>
        {{ form_end(resetForm) }}
    </main>
{% endblock %}
